@import 'vars';
@import 'global';
@import 'fonts';


// header


.header__top-inner {
	display: flex;
	justify-content: space-between;
	height: 90px;
	align-items: center;
}

.header__text {
	margin-left: auto;
	margin-right: 27px;
}

.header__text-help {
	color: $tomato;
}

.header__btn {
	padding: 4px 9px;
	width: 72px;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.header__btn_login {
	background-color: $booger;
}

.header__btn_register {
	background-color: $tomato;
	margin-left: 7px;
}

.header__bottom {
	background-color: $dark;
}

.header__bottom {
	background-color: $dark;
}

.header__menu {
	display: flex;
	align-items: center;
	height: 60px;
}

.header__menu-list {
	li {
		display: inline-block;
		&+li {
			margin-left: 30px;
		}
	}
	a {
		color: #fff;
	}
}


// search


.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 532px;
}

.search__inner {
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	padding: 155px 0 100px;
}

.search__title {
	font-weight: 700;
	font-size: 48px;
}

.search__text {
	font-weight: 500;
	font-size: 20px;
	margin-top: 30px;
}

.search__form {
	max-width: 670px;
	margin: 0 auto;
	margin-top: 52px;
	position: relative;

	input {
		display: block;
		width: 100%;
		border-radius: 4px;
		box-shadow: 0px 1px 10px 0 rgba(124, 178, 64, 0.75);
		background-color: #fff;
		height: 56px;
		border: none;
		font-size: 18px;
		font-weight: 500;
		padding: 0 60px 0 25px;
		color: $slate;

		&::placeholder {
			color: #90a4ae;
			font-size: 14px;
		}
	}

	button {
		position: absolute;
		border: none;
		top: 17px;
		right: 20px;
		background-color: transparent;
		cursor: pointer;
		outline: none;
	}
}


// products


.products {
	padding: 120px 0;
	background-color: $grey;
}

.products__btns {
	text-align: center;
	margin-bottom: 60px;
}

.products__button {
	padding: 13px 21px;
	border: none;
	color: $dark;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
	& + .products__button {
		margin-left: 5px;
	}
	&.mixitup-control-active {
		background-color: $tomato;
		color: #fff;
	}
}


.products__box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.products-item {
	max-width: 442px;
	width: 100%;
	box-shadow: 0px 1px 2px 0 rgba(205, 214, 222, 0.75);
	margin-bottom: 32px;

	&__img {
		min-height: 250px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
	}
	
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 30px;
		min-height: 90px;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		color: $dark;
		border-bottom: 1px solid #e7ecf2;
	}

	&__name {
		max-width: 300px;
	}

	&__title {
		font-size: 18px;
		display: block;
		margin-bottom: 10px;
	}

	&__category {
		color: $booger;
		font-size: 14px;
		display: block;
	}

	&__price {
		font-weight: 700;
		font-size: 20px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		padding: 10px 30px;
	}

	&__autor {
		display: flex;
		align-items: center;
		max-width: 240px;
		span {
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
			font-size: 14px;
		}
	}

	&__avatar {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
		margin-right: 14px;
	}

	&__rateyo {
		font-size: 12px;
		span {
			color: $dark;
		}
	}
}

.products__btns-bottom {
	margin-top: 46px;
	text-align: center;
}

.products__button-bottom {
	padding: 20px 32px;
	font-family: 'roboto-regular', sans-serif;
	font-weight: 400;
	font-size: 16px;
	box-shadow: 0px 1px 3px 0 rgba(204, 216, 228, 0.75);
	& + .products__button-bottom {
		margin-left: 12px;
	}
	&.mixitup-control-active {
		background-color: $tomato;
		color: #fff;
	}
}


// slider


.slider {
	padding: 120px 0 120px;
	.slick-dots {
		text-align: center;
		margin-top: 50px;
		li {
			display: inline-block;
			margin: 0 3px 0 3px;
			&.slick-active {
				button {
					background-color: $booger;
				}
			}
			button {
				border-radius: 50%;
				background-color: rgb(232,232,232);
				border: none;
				font-size: 0;
				width: 16px;
				height: 16px;
				outline: none;
				cursor: pointer;
			}
		}
	}
}


// advantages


.advantages {
	background-color: $dark;
	padding: 115px 0;
}

.advantages__title {
	color: #fff;
	margin-bottom: 80px;
}

.advantages__inner {
	display: flex;
	justify-content: space-between;
}

.advantages__item {
	max-width: 320px;
	text-align: center;
	padding: 0 15px;

	&:hover {
		.advantages__item-img {
			background-color: $booger;
			fill: #fff;
		}

		.advantages__item-title {
			color: $booger;
		}
	}

	&-img {
		width: 113px;
		height: 113px;
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto 30px;
		transition: all .3s;
	}

	&-svg1 {
		svg {
			width: 65px;
		}
	}

	&-svg2 {
		svg {
			width: 85px;
		}
	}

	&-svg3 {
		svg {
			width: 70px;
		}
	}

	&-title {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-size: 24px;
		color: #fff;
		margin-bottom: 24px;
		transition: all .3s;
	}
}


// autors


.autors {
	background: url(/images/autors-bg.jpg) center no-repeat;
	background-size: cover;
	min-height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__box {
		max-width: 650px;
		width: 100%;
		min-height: 215px;
		background-color: $booger;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: 30px;
		color: #fff;
		margin-right: 50px;
		span {
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}
	}

	&__link {
		font-size: 18px;
		background-color: #fff;
		padding: 20px 40px;
	}
}


// tutorials


.tutorials {
	padding: 60px 0px 120px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}
}

.tutorials-item {
	max-width: 370px;
	width: 100%;

	&__img {
		min-height: 270px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__title {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 24px;
		color: $dark;
		background-color: #f8f8f8;
		padding: 35px 15px;
		text-align: center;
	}
}


// footer


.footer {
	background-color: $dark;
	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 110px 0px 100px;
	}
}

.footer-col {
	max-width: 270px;
	width: 100%;
	padding: 0px 15px;

	&-menu {
		max-width: 220px;
	}

	&__title {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		font-size: 22px;
		color: #fff;
		padding-bottom: 23px;
		margin-bottom: 32px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 2px;
			bottom: 0;
			width: 51px;
			height: 3px;
			background-color: $booger;
		}
	}

	&__text {
		color: $silver;
		margin-bottom: 32px;
	}

	&__info {
		margin-top: 25px;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-size: 14px;
		color: #fff;
		padding-left: 30px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			font-size: 18px;
			color: $booger;
			font-family: 'icomoon';
		}
	}

	&__address {
		&::after {
			content: '\f041';
		}
	}

	&__tel {
		&::after {
			content: '\f095';
		}
	}

	&__list {
		a {
			margin-bottom: 15px;
			color: $silver;
			padding-left: 21px;
			position: relative;
			&::before {
				content: '\f105';
				position: absolute;
				font-size: 18px;
				color: $booger;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				font-family: 'icomoon';
			}
		}
	}
}

.socials {
margin-bottom: 35px;

	li {
		display: inline-block;
		& + li {
			margin-left: 7px;
		}
	}
	a {
		width: 28px;
		height: 28px;
		background-image: url(/images/css_sprites.png);
	}
	&__facebook {
		background-position: -28px 0;
	}
	&__pinterest {
		background-position: -56px 0;
	}
	&__twitter {
		background-position: 0 -28px;
	}
	&__youtube {
		background-position: -28px -28px;
	}
}

.footer-form {
	position: relative;

	input {
		border: none;
		background-color: #2f3c43;
		display: block;
		width: 100%;
		height: 40px;
		color: #fff;
		padding: 0 55px 0 13px;
		outline: none;
		font-size: 18px;
		&::placeholder {
			font-size: 16px;
		}
	}

	button {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: $booger;
		border: none;
		width: 43px;
		height: 40px;
		cursor: pointer;
		&::before {
			content: '\f124';
			font-family: 'icomoon';
			color: #fff;
			font-size: 20px;
			position: absolute;
			top: 8px;
			left: 14px;
		}
	}
}

.footer-form__title {
	margin-bottom: 15px;
	color: #fff;
	font-size: 20px;
}

.footer__copy {
	border-top: 1px solid #424d53;
}

.footer__copy-text {
	color: #919699;
	padding: 25px 0px 30px;
	text-align: center;
}









